body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8fafc;
    color: #334155;
    margin: 0; padding: 40px 20px;
}

.container { max-width: 800px; margin: auto; }


.stats-container { display: flex; gap: 15px; margin-bottom: 35px; }
.stat-card {
    background: white; padding: 20px; border-radius: 12px;
    flex: 1; box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1);
}
.stat-card p { margin: 0; font-size: 14px; color: #64748b; font-weight: 600; }
.stat-card h2 { margin: 8px 0 0; font-size: 32px; }
.text-green { color: #10b981; }
.text-red { color: #ef4444; }


.jobs-section-header { margin-bottom: 25px; }
.title-row {  display: flex;
    justify-content: space-between;
    align-items: center; margin-bottom: 15px;
}
.title-row h3 { margin: 0; font-size: 22px; color: #1e293b; }
#job-count-badge {
    font-size: 13px; color: #475569; background: #e2e8f0;
    padding: 3px 12px; border-radius: 20px; font-weight: 600;
    display: flex;
    align-content: space-between;
}
.filter-buttons { display: flex; gap: 10px; }
.filter-btn {
    padding: 8px 18px; border: 1px solid #e2e8f0; background: white;
    border-radius: 8px; cursor: pointer; font-weight: 600; color: #64748b;
}
.filter-btn.active { background: #3b82f6; color: white; border-color: #3b82f6; }


.job-card {
    background: white; padding: 25px; border-radius: 12px; margin-bottom: 20px;
    position: relative; box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    border-left: 2px ;
}
.job-card h3 { margin: 0; font-size: 19px; color: #1e293b; }
.job-details { font-size: 13px; color: #94a3b8; margin: 5px 0 12px 0; }
.job-desc { font-size: 14px; line-height: 1.6; color: #64748b; margin: 15px 0; }


.tag {
    font-size: 11px; padding: 4px 10px; border-radius: 6px;
    font-weight: 700; text-transform: uppercase; display: inline-block;
}
.tag-pending { background: #eff6ff; color: #2563eb; }
.tag-interview { background: #dcfce7; color: #10b981; }
.tag-rejected { background: #fee2e2; color: #ef4444; }


.actions { display: flex; gap: 12px; margin-top: 15px; }
.btn-int, .btn-rej {
    padding: 8px 16px; border-radius: 6px; cursor: pointer;
    font-size: 12px; font-weight: 700; background: white; transition: 0.2s;
}
.btn-int { border: 2px solid #10b981; color: #10b981; }
.btn-rej { border: 2px solid #ef4444; color: #ef4444; }
.btn-int.active { background: #10b981; color: white; }
.btn-rej.active { background: #ef4444; color: white; }

.btn-del {
    position: absolute; top: 20px; right: 20px;
    background: #f1f5f9; border: none; color: #94a3b8;
    padding: 5px 10px; border-radius: 6px; cursor: pointer;
    
}



.empty-state { text-align: center; padding: 60px; background: white; border-radius: 15px; border: 2px dashed #cbd5e1; }
.empty-state img { width: 80px; margin-bottom: 15px; opacity: 0.6; }
.hidden { display: none; }